<h1> Campers </h1>
  <% @campervans.each do |campervan|%>
  <%= link_to campervan.camper_type, campervan_path(campervan) %>  <%= campervan.camper_make %> <%= campervan.region %> <%= campervan.price %>
  <%= link_to "Delete", campervan_path(campervan), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>



<%= link_to "Create new campervan", new_campervan_path(@campervan) %>
