<h1> Campers </h1>
  <% @campervans.each do |campervan|%>
  <h2><%= link_to campervan.camper_type, campervan_path(campervan) %> </h2> <%= campervan.camper_make %> - <%= campervan.region %> ; £<%= campervan.price %>
  <%= link_to "Delete", campervan_path(campervan), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>

<div></div>

<%= link_to "Create new campervan", new_campervan_path(@campervan) %>


<div class="card-list">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.howdens.com/-/media/howdens/assets/clh_asset_corporate/clh_asset_levela_109324/clh_asset_levelb_25298484/clh_asset_levelc_25363632/clh_asset_leveld_25448669/ass_25448671/ass_25448671_1_1.jpg" class="d-block w-100 camper-images">
      </div>
      <div class="carousel-item">
        <img src="https://www.howdens.com/-/media/howdens/assets/clh_asset_corporate/clh_asset_levela_109324/clh_asset_levelb_25298484/clh_asset_levelc_25363632/clh_asset_leveld_25448669/ass_25448671/ass_25448671_1_1.jpg" class="d-block w-100 camper-images">
      </div>
      <div class="carousel-item">
        <img src="https://www.howdens.com/-/media/howdens/assets/clh_asset_corporate/clh_asset_levela_109324/clh_asset_levelb_25298484/clh_asset_levelc_25363632/clh_asset_leveld_25448669/ass_25448671/ass_25448671_1_1.jpg" class="d-block w-100 camper-images">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="card-trip-infos">
    <div class="container">
      <div class="row top-row align-items-start">
        <div class="col-3 align-middle">
          <p style="margin:0" ><i class="fa-solid fa-bed"></i>2</p>
        </div>
        <div class="col-3 align-middle">
          <p style="margin:0"><i class="fa-solid fa-bed"></i>2</p>
        </div>
        <div class="col-6 align-middle">
          <p style="margin:0"><i class="fa-solid fa-location-dot"></i>Norfolk</p>
        </div>
      </div>

      <div class="flex-container bottom-row">
        <div class="align-middle price" style="margin:0" >
          <strong>£50</strong> / night
        </div>
        <div class="align-middle price" style="margin:0" >
          4.9 <i class="fa-solid fa-star"></i>
        </div>
        <div class="align-middle price" style="margin:0" >
          <i class="fa-light fa-heart-half-stroke"></i>
        </div>
      </div>
    </div>
  </div>
</div>
