

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
          <div class="form-header">
            New Booking for <%= @campervan.user.first_name %>'s <%= @campervan.camper_make %>
          </div>
          <%= simple_form_for [@campervan, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true, input_html: {id: "start_date", data:{booking_calculator_target:"startDate"}} %>
            <%= f.input :end_date, as: :date, html5: true, input_html: {id: "end_date", data:{booking_calculator_target:"endDate", action:"change->booking-calculator#calculate"}} %>
            <%= f.button :submit, "Edit Booking", class: "btn btn-primary" %>
          <% end %>
          <br>
            <div class="d-flex justify-content-between mt-3">
              <p><strong>Price per day</strong></p>
              <p> £<%= @campervan.price  %></p>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <p><strong>Start Date</strong></p>
              <p data-booking-calculator-target="startDateInput"></p>
            </div>

            <div class="d-flex justify-content-between mt-3 border-bottom">
              <p><strong>End Date</strong></p>
              <p data-booking-calculator-target="endDateInput"></p>
            </div>

            <div class="d-flex justify-content-between mt-3">
              <p><strong>Total price for <em data-booking-calculator-target="numberOfDays"></em> days:</strong></p>
              <p><strong>£<em data-booking-calculator-target="totalPrice"></em></strong></p>
            </div>
       </div>
</div>
