<div class="profile-grid">
  <div class="profile-column-left">
    <h3 class="profile-header"><%=@user.first_name%></h3>
    <div class="profile-image">
      <% if @user.photo.key %>
        <%= cl_image_tag current_user.photo.key, class: "card-img-top", style: "border-radius: 5px; max-height: 100%; object-fit: cover", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
    </div>
    <div class="profile-box profile-information">
            <p>Email: <%= @user.email %> </p>
            <p>Account created: <%= @user.created_at.mday %>/<%= @user.created_at.month %>/<%= @user.created_at.year %></p>
            <p>Number of Bookings: <%= @bookings.all.count %>
            <p>Number of Campervans: <%= @campervans.all.count %>
          <div class="profile-button">
            <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-ghost"%>
            <%= link_to "Create new campervan", new_campervan_path(), class: "btn btn-ghost"%>
          </div>
    </div>
  </div>


  <div class="profile-column-right">


  <% if @user.bookings.present? %>
      <div class="booking-box booking-section">

          <div class="c">
          <h3>My Bookings:</h3>
            <% @bookings.each do |booking|%>
            <div class="spacing-camper-box">
              <div class="camper-box">
                <% if booking.campervan.photo.key %>
                    <%= cl_image_tag booking.campervan.photo.key, class: "campervan-image" %>
                <% end %>
                <div class="camper-information">
                  <h3 class="booking-header"><%= booking.campervan.camper_type %></h3>
                  <div class="profile-information">
                  <p>Start: <%= booking.start_date  %></p>
                  <p>End: <%= booking.end_date %></p>
                  <p>Total price: £<%= booking.total_price  %></p>
                  </div>
                  <%= link_to "Edit Booking", edit_booking_path(booking), class: "btn btn-ghost"%>

                  <%= link_to "Cancel Booking", booking_path(booking), class: "btn btn-ghost", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
              </div>
            </div>
              <% end %>

          </div>
      </div>
  <% end %>

  <div class="booking-box camper-section">
    <div class="c">
    <h3 >My Campervans:</h3>
     <% @campervans.each do |campervan|%>
      <div class="spacing-camper-box">
        <div class="camper-box">
          <% if campervan.photo.key %>
              <%= cl_image_tag campervan.photo.key, class: "campervan-image" %>
          <% end %>

          <div class="camper-information">
          <h3 class="booking-header"><%= campervan.camper_type %></h3>
          <div class="profile-information">
                        <p class="card-text"><%= campervan.camper_make  %></p>
                        <p><i class="fa-solid fa-location-dot"></i><%= campervan.region %></p>
          </div>
                        <%= link_to "View", campervan_path(campervan), class: "btn btn-ghost" %>
                        <%= link_to "Delete", campervan_path(campervan), class: "btn btn-ghost", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

          </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>




  </div>
</div>

    <!-- user info -->
